body {
    font-family: 'Crimson Text', serif;
    background-color: #FFE4E1;
}
html {
    font-size: 16px
}
header {
  width: 75vw;
  margin: 25px auto;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col {
  width: 50%;
  float: left;
}
h1 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  text-align: left;
  font-weight: 700;
}
ul {
    margin: 30px;
    letter-spacing: .5px;
    line-height: 2.0;
}
a {
 text-decoration: none;
}
a:link {
 color: black;
}
a:visited {
 color: black;
}
a:hover {
 color: whitesmoke;
}
a:active {
 color: whitesmoke;
}
li {
   font-size: 1rem;
   line-height: 1.5rem;
   margin-bottom: 10px;
   text-align: left;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 700px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

@media screen and  (max-width: 800px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
    }
    header {
      width: 90vw;
    }
    main {
      width: 90vw;
    }
    h1 {
      font-size: 3rem;
    }
  }
