body {
    background: linear-gradient(#bd598e, #ffffb3 30%, #ffd480 30%);
     margin: 50px;
}
h1 {
    color: #ff6600;
    font-size: 90px;
    font-family: "Arial Black", Gadget, sans-serif;
  text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    color: #e68a00;
    font-size: 40px;
    font-family: "Arial Black", Gadget, sans-serif;
  text-transform: uppercase;
    margin-top: 0;
}
p {
  color: #ff6600;
  font-size: 90px;
  font-family: "Arial Black", Gadget, sans-serif;
   letter-spacing: .5px;
   margin-top: 0;
}
a {
  text-decoration: none;
}
a:link {
  color: #800080;
}
a:visited {
  color: #800080;
}
a:hover {
  color: whitesmoke;
}
a:active {
  color: whitesmoke;
}
